In [67]:
# 1st task

safe condition:
The levels are either all increasing or all decreasing. (monotone)
Any two adjacent levels differ by at least one and at most three. (1<=|a-b|<=3)

In [68]:
import pandas as pd

In [69]:
import numpy as np

In [70]:
df=pd.read_csv('d2input.csv',header=None)

In [71]:
df.head()

                         0
0  42 44 47 49 51 52 54 52
1  24 27 30 31 32 35 36 36
2     80 82 85 86 87 90 94
3        4 5 7 10 13 14 20
4  38 41 40 42 45 47 50 52

In [72]:
new=df[0].str.split(pat=' ',expand=True)
new=new.astype(float)

In [73]:
new.head()

      0     1     2     3     4     5     6     7
0  42.0  44.0  47.0  49.0  51.0  52.0  54.0  52.0
1  24.0  27.0  30.0  31.0  32.0  35.0  36.0  36.0
2  80.0  82.0  85.0  86.0  87.0  90.0  94.0   NaN
3   4.0   5.0   7.0  10.0  13.0  14.0  20.0   NaN
4  38.0  41.0  40.0  42.0  45.0  47.0  50.0  52.0

In [74]:
type(new)

pandas.core.frame.DataFrame

In [75]:
trial=new.head()

In [76]:
np.isnan(trial.iloc[2][7])

True

In [77]:
monoinc= True
monosequence = 0
j=0
while (j in range(0,7)) and monoinc==True:
    print(j)
    if np.isnan(trial.iloc[2][j])or np.isnan(trial.iloc[2][j+1]):
        print('nan')
        monosequence = monosequence + monoinc
        print(monoinc)
        j=j+1
    elif trial.iloc[2][j]>=trial.iloc[2][j+1]:
        monoinc=False
        print(monoinc)
        j=j+1
    else:
        print('inc')
        j=j+1

0
inc
1
inc
2
inc
3
inc
4
inc
5
inc
6
nan
True

In [ ]:
print(new.items())